/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../scss/style.scss */
body {
  background: #15172c;
}

/* line 15, ../../scss/style.scss */
.slidercontent {
  position: relative;
  display: block;
  padding: 10px 20px;
}

@-webkit-keyframes loader-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loader-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loader-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-ms-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-moz-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-ms-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-o-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 6px;
  }
  30% {
    height: 18px;
    width: 6px;
  }
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 6px;
  }
  30% {
    height: 18px;
    width: 6px;
  }
}
@-ms-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 6px;
  }
  30% {
    height: 18px;
    width: 6px;
  }
}
@-o-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 6px;
  }
  30% {
    height: 18px;
    width: 6px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  15% {
    height: 0;
    width: 6px;
  }
  30% {
    height: 18px;
    width: 6px;
  }
}
/* line 102, ../../scss/style.scss */
.wrongmessage {
  min-height: 15px;
  color: #FF5151;
  font-size: 16px;
  padding: 5px 4px 0;
  text-align: right;
}

/* line 109, ../../scss/style.scss */
.info {
  color: #CFCFCF;
  font-size: 14px;
}

/* line 114, ../../scss/style.scss */
.form .inputs {
  position: relative;
}
/* line 116, ../../scss/style.scss */
.form .inputs input {
  display: block;
  border: none;
  border-style: none;
  background: #262943;
  color: #fff;
  outline: none;
  font-size: 16pt;
  padding: 10px 0 10px 45px;
  margin: 5px 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 128, ../../scss/style.scss */
.form .inputs input:focus {
  color: #15172c;
  background: #00ffce;
}
/* line 133, ../../scss/style.scss */
.form .inputs > select {
  display: block;
  border: none;
  border-style: none;
  background: #262943;
  color: #fff;
  outline: none;
  font-size: 16pt;
  padding: 10px 0 10px 45px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 146, ../../scss/style.scss */
.form .inputs > select option {
  background: #15172c;
  color: #fff;
}
/* line 150, ../../scss/style.scss */
.form .inputs > select:focus {
  color: #15172c;
  background: #00ffce;
}
/* line 155, ../../scss/style.scss */
.form .inputs span.img {
  width: 40px;
  height: 45px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 163, ../../scss/style.scss */
.form .inputs span.img > i {
  font-size: 20pt;
  color: #fff;
}
/* line 166, ../../scss/style.scss */
.form .inputs span.img > i:before {
  vertical-align: sub;
}
/* line 171, ../../scss/style.scss */
.form .inputs span.check {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  margin: 11px 10px 0 0;
  background-color: #00ffce;
  background-image: url(../img/icon/check.png);
  background-position: 2px 1px;
  background-size: 20px;
  background-repeat: no-repeat;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: none;
}
/* line 187, ../../scss/style.scss */
.form .inputs span.focus {
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  display: none;
  position: absolute;
  margin: 11px 10px 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: dashed 1px #15172c;
  animation-name: loader-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* line 202, ../../scss/style.scss */
.form .inputs input:focus + span.img > i {
  color: #15172c;
}
/* line 205, ../../scss/style.scss */
.form .inputs input:focus + span.focus {
  display: inline-block;
}
/* line 208, ../../scss/style.scss */
.form .inputs select:focus + span.img > i {
  color: #15172c;
}
/* line 213, ../../scss/style.scss */
.form .inputs.disabled input {
  background: transparent;
}
/* line 216, ../../scss/style.scss */
.form .inputs.disabled .wrongmessage {
  display: none;
}
/* line 221, ../../scss/style.scss */
.form .tags .bootstrap-tagsinput {
  background: #262943;
}
/* line 223, ../../scss/style.scss */
.form .tags .bootstrap-tagsinput .tag {
  background: #646881;
  padding: 1px 4px;
  line-height: 38px;
}
/* line 229, ../../scss/style.scss */
.form .tags input {
  padding: 0;
  width: auto;
  display: inline-block;
}
/* line 233, ../../scss/style.scss */
.form .tags input:focus {
  color: #fff;
  background: transparent;
}
/* line 240, ../../scss/style.scss */
.form .textarea textarea {
  display: block;
  border: none;
  border-style: none;
  background: #262943;
  color: #fff;
  outline: none;
  font-size: 16pt;
  padding: 6px;
  margin: 5px 0;
  width: 100%;
  resize: vertical;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 256, ../../scss/style.scss */
.form .textarea.disabled textarea {
  background: transparent;
  resize: none;
}
/* line 260, ../../scss/style.scss */
.form .textarea.disabled .wrongmessage {
  display: none;
}
/* line 264, ../../scss/style.scss */
.form .btn {
  text-align: center;
  padding: 1em 0;
}
/* line 267, ../../scss/style.scss */
.form .btn button {
  background: #808080;
  border: none;
  outline: 0;
  font-size: 12pt;
  padding: 0.5em 0;
  width: 45%;
  font-weight: bold;
  cursor: pointer;
  color: #15172c;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  transition: background .2s linear, border-radius 1s ease-in 1s;
}
/* line 281, ../../scss/style.scss */
.form .btn button:hover {
  background: #676767;
}
/* line 286, ../../scss/style.scss */
.form .btn button.next {
  background: #00ffce;
}
/* line 288, ../../scss/style.scss */
.form .btn button.next:hover {
  background: #00cca5;
}
/* line 292, ../../scss/style.scss */
.form .btn button.next:disabled {
  background: #00cca5;
  transition: none;
}
/* line 295, ../../scss/style.scss */
.form .btn button.next:disabled:hover {
  background: #00cca5;
}
/* line 299, ../../scss/style.scss */
.form .btn button:disabled {
  background: #676767;
  transition: none;
}
/* line 302, ../../scss/style.scss */
.form .btn button:disabled:hover {
  background: #676767;
}
/* line 306, ../../scss/style.scss */
.form .btn button.hide {
  background: transparent;
  content: '';
}
/* line 312, ../../scss/style.scss */
.form .nopadding input {
  padding: 10px 5px;
}

/* line 317, ../../scss/style.scss */
.page {
  font-family: monospace;
}
/* line 319, ../../scss/style.scss */
.page .header {
  padding: 4em 0;
  border-bottom: 1px solid #00ffce;
}
/* line 322, ../../scss/style.scss */
.page .header h1 {
  font-family: monospace;
  font-size: 20pt;
  display: block;
  text-align: center;
  color: #00ffce;
  letter-spacing: 2px;
}
/* line 331, ../../scss/style.scss */
.page .title {
  margin: 0 auto;
  max-width: 380px;
  padding: 20px 20px 15px;
}
/* line 335, ../../scss/style.scss */
.page .title h2 {
  font-size: 16pt;
  color: #fff;
  margin-left: 4px;
  border-left: 5px solid #fff;
  padding-left: 7px;
}
/* line 343, ../../scss/style.scss */
.page .card {
  border: 1px solid #646881;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 348, ../../scss/style.scss */
.page .form {
  padding: 5px 10px 15px;
  max-width: 400px;
  margin: 0 auto;
}
/* line 353, ../../scss/style.scss */
.page .add {
  padding: 5px 0 20px;
}
/* line 355, ../../scss/style.scss */
.page .add button {
  background: #15172c;
  border: none;
  display: block;
  padding: 0.5em 0;
  width: 100%;
  font-size: 12pt;
  font-weight: bold;
  color: #646881;
  border: 1px solid #646881;
  transition: background .2s linear, border-radius 1s ease-in 1s;
}
/* line 366, ../../scss/style.scss */
.page .add button:hover {
  color: #15172c;
  background: #646881;
}
/* line 371, ../../scss/style.scss */
.page .add .active {
  color: #15172c;
  background: #646881;
}
/* line 377, ../../scss/style.scss */
.page .image button {
  width: 48.5%;
  display: inline-block;
  border: 1px dashed #646881;
  height: 160px;
}
/* line 384, ../../scss/style.scss */
.page .cardtitle {
  position: relative;
}
/* line 386, ../../scss/style.scss */
.page .cardtitle span.img {
  width: 40px;
  height: 45px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 394, ../../scss/style.scss */
.page .cardtitle span.img > i {
  font-size: 20pt;
  color: #fff;
}
/* line 397, ../../scss/style.scss */
.page .cardtitle span.img > i:before {
  vertical-align: sub;
}
/* line 402, ../../scss/style.scss */
.page .cardtitle > h3 {
  padding: 0 0 0 45px;
  font-size: 14pt;
  color: #fff;
  height: 45px;
  line-height: 45px;
}
/* line 410, ../../scss/style.scss */
.page .link {
  padding: 7px 0;
}
/* line 412, ../../scss/style.scss */
.page .link .item {
  position: relative;
}
/* line 414, ../../scss/style.scss */
.page .link .item a {
  font-size: 14pt;
  color: #3EA3FF;
}
/* line 418, ../../scss/style.scss */
.page .link .item a.remove {
  position: absolute;
  color: #fff;
  font-size: 14pt;
  top: 1px;
  right: 1px;
}
/* line 428, ../../scss/style.scss */
.page .video {
  padding-right: 25px;
  position: relative;
}
/* line 431, ../../scss/style.scss */
.page .video .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  margin: 0 0 10px;
}
/* line 437, ../../scss/style.scss */
.page .video .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 445, ../../scss/style.scss */
.page .video .remove {
  position: absolute;
  color: #fff;
  font-size: 14pt;
  top: 1px;
  right: 1px;
}
/* line 454, ../../scss/style.scss */
.page .image .item {
  text-align: center;
  display: inline-block;
  width: 48.6%;
  position: relative;
}
/* line 459, ../../scss/style.scss */
.page .image .item .img {
  display: block;
  width: 100%;
}
/* line 462, ../../scss/style.scss */
.page .image .item .img img {
  width: 100%;
}
/* line 466, ../../scss/style.scss */
.page .image .item .imgtitle {
  color: #fff;
  font-size: 14pt;
  padding: 5px 0;
}
/* line 471, ../../scss/style.scss */
.page .image .item .remove {
  position: absolute;
  color: #fff;
  font-size: 14pt;
  top: 1px;
  right: 1px;
}
/* line 480, ../../scss/style.scss */
.page .two {
  text-align: center;
  padding: 5px 0;
}
/* line 483, ../../scss/style.scss */
.page .two button {
  width: 48.6%;
  display: inline-block;
  border: 1px dashed #646881;
}
/* line 490, ../../scss/style.scss */
.page .uploadinputs > .sec {
  display: none;
}

/* line 497, ../../scss/style.scss */
.skill .mainslider .slidercontent {
  padding: 0 0 15px;
}
/* line 503, ../../scss/style.scss */
.skill .card .name h3 {
  color: #fff;
  font-size: 16pt;
  margin: 0 0 10px;
}

/* line 511, ../../scss/style.scss */
.bar2 {
  padding: 20px;
}
/* line 513, ../../scss/style.scss */
.bar2 #amount {
  width: 100%;
  margin: 20px 0;
}

/* line 522, ../../scss/style.scss */
.slidercontent .barname {
  font-size: 16pt;
  color: #fff;
  padding: 5px 0 5px 11px;
}
/* line 527, ../../scss/style.scss */
.slidercontent .count {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: #00ffce;
  font-size: 12pt;
  font-family: cursive;
}
/* line 535, ../../scss/style.scss */
.slidercontent .count i {
  color: #fff;
  margin-right: 5px;
  font-size: 16pt;
  cursor: pointer;
}
/* line 541, ../../scss/style.scss */
.slidercontent .count label {
  font-size: 20pt;
}

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
/* line 568, ../../scss/style.scss */
.loading {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  text-align: center;
}
/* line 576, ../../scss/style.scss */
.loading .middle {
  top: 50%;
  left: 50%;
  display: inline-block;
  position: absolute;
  margin-top: -105px;
  margin-left: -105px;
}

/* line 585, ../../scss/style.scss */
.loaderwrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 99;
  text-align: center;
}
/* line 595, ../../scss/style.scss */
.loaderwrapper .loader {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  border: 2px solid #FBFBFB;
  top: 50%;
  left: 50%;
  margin-top: -12.5px;
  margin-left: -12.5px;
  animation: loader 4s infinite ease;
}
/* line 606, ../../scss/style.scss */
.loaderwrapper .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #FBFBFB;
  animation: loader-inner 4s infinite ease-in;
}

/* line 616, ../../scss/style.scss */
.uil-ripple-css {
  background: none;
  position: relative;
  width: 210px;
  height: 210px;
  z-index: 100;
  -moz-transform: scale(0.38, 0.38);
  -ms-transform: scale(0.38, 0.38);
  -webkit-transform: scale(0.38, 0.38);
  transform: scale(0.38, 0.38);
}
/* line 623, ../../scss/style.scss */
.uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -webkit-animation: uil-ripple 2s ease-out infinite;
  -moz-animation: uil-ripple 2s ease-out infinite;
  -ms-animation: uil-ripple 2s ease-out infinite;
  -o-animation: uil-ripple 2s ease-out infinite;
  animation: uil-ripple 2s ease-out infinite;
}
/* line 635, ../../scss/style.scss */
.uil-ripple-css div:nth-of-type(1) {
  border-color: #5cffd6;
}
/* line 638, ../../scss/style.scss */
.uil-ripple-css div:nth-of-type(2) {
  border-color: #5cffd6;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 649, ../../scss/style.scss */
.ui-autocomplete {
  border: none;
  background: #262943;
}
/* line 652, ../../scss/style.scss */
.ui-autocomplete .ui-menu-item {
  background: #262943;
  color: #fff;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14pt;
}
/* line 659, ../../scss/style.scss */
.ui-autocomplete .ui-state-focus {
  font-weight: normal;
  background: #00ffce;
  color: #000;
  outline: 0;
  border: 0;
}

/* line 667, ../../scss/style.scss */
.hide {
  display: none;
}
